[submodule "external/gaugi"]
	path = external/gaugi
	url = https://github.com/jodafons/Gaugi.git
[submodule "external/cpk"]
	path = external/cpk
	url = https://gitlab.cern.ch/ginaciog/calopulsekit.git
