[submodule "external/cpk"]
	path = external/cpk
	url = https://github.com/jodafons/cpk.git
	ignore = all
[submodule "external/gaugi"]
	path = external/gaugi
	url = https://github.com/jodafons/Gaugi.git
	ignore = all