name: test

on: [push]

jobs:

  build:
    runs-on: self-hosted
    container:
      image: docker://lorenzetti/lorenzetti:latest
    steps:
      - name: Compile
        shell: bash
        run: |
          rm -rf *
          git clone https://github.com/lorenzetti-hep/lorenzetti.git
          export CPU_N=$(grep -c ^processor /proc/cpuinfo)
          source /setup_envs.sh
          cd lorenzetti && mkdir build && cd build && cmake .. && make -j$CPU_N && cd ..
          source setup.sh
          

          
  generation:
    runs-on: self-hosted
    needs: build
    container:
      image: docker://lorenzetti/lorenzetti:latest
    steps:
      - name: Event Generation
        shell: bash
        run: |
          source /setup_envs.sh && cd lorenzetti && source setup.sh
          cd .github/workflows/tests
          source test_generation.sh
          

  simulation:
    runs-on: self-hosted
    needs: generation
    container:
      image: docker://lorenzetti/lorenzetti:latest
    steps:
      - name: Event Simulation
        shell: bash
        run: |
          source /setup_envs.sh && cd lorenzetti && source setup.sh
          cd .github/workflows/tests
          source test_simu_trf.sh

  merge:
    runs-on: self-hosted
    needs: simulation
    container:
      image: docker://lorenzetti/lorenzetti:latest
    steps:
      - name: Merge Events
        shell: bash
        run: |
          source /setup_envs.sh && cd lorenzetti && source setup.sh
          cd .github/workflows/tests
          source test_merge_trf.sh

  digitalization:
    runs-on: self-hosted
    needs: simulation
    container:
      image: docker://lorenzetti/lorenzetti:latest
    steps:
      - name: Digit Events
        shell: bash
        run: |
          source /setup_envs.sh && cd lorenzetti && source setup.sh
          cd .github/workflows/tests
          source test_digit_trf.sh
              
  reconstruction:
    runs-on: self-hosted
    needs: digitalization
    container:
      image: docker://lorenzetti/lorenzetti:latest
    steps:
      - name: Reco Events
        shell: bash
        run: |
          source /setup_envs.sh && cd lorenzetti && source setup.sh
          cd .github/workflows/tests
          source test_reco_trf.sh



#
# Event generation tests
# 

  gen_zee:
    runs-on: self-hosted
    needs: build
    container:
      image: docker://lorenzetti/lorenzetti:latest
    steps:
      - name: Event Zee Generation
        shell: bash
        run: |
          source /setup_envs.sh && cd lorenzetti && source setup.sh
          cd .github/workflows/tests
          source test_gen_zee.sh

  gen_jets:
    runs-on: self-hosted
    needs: build
    container:
      image: docker://lorenzetti/lorenzetti:latest
    steps:
      - name: Event Jets Generation
        shell: bash
        run: |
          source /setup_envs.sh && cd lorenzetti && source setup.sh
          cd .github/workflows/tests
          source test_gen_jets.sh

  gen_minbias:
    runs-on: self-hosted
    needs: build
    container:
      image: docker://lorenzetti/lorenzetti:latest
    steps:
      - name: Event MB Generation
        shell: bash
        run: |
          source /setup_envs.sh && cd lorenzetti && source setup.sh
          cd .github/workflows/tests
          source test_gen_minbias.sh
